@import "../config.scss";

.main-header {
  padding: $size-20 0;
  width: $percent-100;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: inset 0 -2px #333;

  .left,
  .right {
    width: $percent-25;
    max-height: $size-20;
    overflow: hidden;

    .icon-caidan-class,
    .icon-gouwuche-class {
      padding: 0 $size-10;
      color: $c-title;
    }
  }

  .center {
    width: $percent-50;
    height: $size-20;

    img {
      width: 100%;
      height: 100%;
    }
  }

  i {
    font-size: $fz-title;
  }
}
