$fz-title: 20px;
$fz-title: 5.333vw; // 一般的标题之类的文字
$fz-info: 17px;
$fz-info: 4.533vw;  // 一般的姓名之类的文字
$fz-text: 15px;
$fz-text: 4vw;  // 一般的文章文字
$fz-label: 14px;
$fz-label: 3.733vw; // 一般的标签文字
$fz-tip: 13px;
$fz-tip: 3.466vw; // 一般的提示性文字

$c-default: #fff;
$c-title: #f2f2f2;
$c-info: #333;
$c-label: #999;
$c-tip: #b1b1b1;
