$fz-title: 20px;
$fz-title: 5.333vw; // 一般的标题之类的文字
$fz-info: 17px;
$fz-info: 4.533vw;  // 一般的姓名之类的文字
$fz-text: 15px;
$fz-text: 4vw;  // 一般的文章文字
$fz-label: 14px;
$fz-label: 3.733vw; // 一般的标签文字
$fz-tip: 13px;
$fz-tip: 3.466vw; // 一般的提示性文字

$c-default: #fff;
$c-title: #333;
$c-info: #f2f2f2;
$c-label: #999;
$c-tip: #b1b1b1;

$size-5: 5px;
$size-10: 10px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-19: 19px;
$size-20: 20px;
$size-24: 24px;
$size-30: 30px;

$size-5: 1.333vw;
$size-10: 2.666vw;
$size-12: 3.2vw;
$size-13: 3.466vw;
$size-14: 3.733vw;
$size-15: 4vw;
$size-16: 4.26vw;
$size-17: 4.533vw;
$size-18: 4.8vw;
$size-19: 5.066vw;
$size-20: 5.333vw;
$size-24: 6.4vw;
$size-30: 8vw;

$percent-25: 25%;
$percent-25: 25vw;
$percent-50: 50%;
$percent-50: 50vw;
$percent-100: 100%;
$percent-100: 100vw;
